/*初始化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

body {
    min-width: 1100px;
}

#content {
    width: 100%;
}

.section-one {
    position: relative;
    width: 100%;
    height: 676px;
    background: url("../images/img_banner.jpg") center;
    background-size: cover;
    color: #fff;
}

.section-one nav {
}

.section-one nav >ul {
    line-height: 45px;
    padding-top: 15px;
}

.section-one nav >ul li {
    width: 50%;
    text-align: center;
    float: left;
}

.section-one nav >ul a{
    margin-right: 15px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
}

.download {
    width: auto;
    margin-top: 130px;
    text-align: center;
}

.download h1 {
    font-size: 60px;
}

.download h2 {
    margin-top: 20px;
    font-size: 24px;
    opacity: 0.8;
    text-align: center;
    text-indent: 42px;
    letter-spacing: 42px;
}

.download span {
    display: block;
    width: auto;
    height: 54px;
}

.download span >a,
.last-download >a {
    display: inline-block;
    color: #fff;
    background-color: #3BAAF0;
    text-decoration: none;
}

.download span >a {
    margin: 40px auto auto;
    width: 140px;
    line-height: 54px;
    font-size: 24px;
}

.last-download >a {
    width: 110px;
    line-height: 36px;
}

.download span >a:hover,
.last-download >a:hover {
    background-color: #3BA;
}

.download-version,
.last-downloadversion {
    display: block;
    font-size: 12px;
    color: #ccc;
}

.last-downloadversion {
    margin-top: 15px;
}

.download-version {
    margin: 65px auto auto;
}

.navigation-bar {
    position: absolute;
    display: block;
    margin-left: -500px;
    left: 50%;
    bottom: 0;
    width: 1000px;
    height: 100px;
    text-align: center;
    font-size: 16px;
    border-top: 1px solid rgba(250,250,250,.1);
    opacity: .8;
}

.navigation-bar li {
    display: inline-block;
    margin-top: 34px;
    width: 23%;
    height: 35px;
    border-right: 1px solid rgba(250,250,250,.2);
}

.navigation-bar li a {
    text-decoration: none;
}

.navigation-bar li a:hover {
    color: #3BAAF0;
}

.navigation-bar :last-child {
    border: none;
}

.navigation-bar a {
    color: #fff;
}


.section-two {
    width: 100%;
    height: 1000px;
    background: url("../images/img_高清展示.jpg") center no-repeat;
    background-size: cover;
    color: #666;
}

.section-two div {
    padding-top: 220px;
    width: 1000px;
    margin: auto;
    text-align: right;
}

.section-two div >h1 {
    padding-right: 80px;
    right: 100px;
    font-size: 48px;
}

.section-two div >p {
    margin-top: 30px;
    font-size: 20px;
}

.section-third {
    width: 100%;
    height: 1000px;
    background: url("../images/img_批注.jpg") center no-repeat;
    background-size: cover;
}

.section-third div {
    padding-top: 430px;
}

.section-third h1 {
    font-size: 60px;
    color: #fff;
}

.section-third p {
    margin-top: 30px;
    font-size: 20px;
    color: #AAA;
    line-height: 36px;
}

.section-four {
    width: 100%;
    height: 991px;
    background-color: #F5F9FF;
}

.section-four h2 {
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
    color: #464646;
}

.section-four h3 {
    padding-top: 30px;
    text-align: center;
    line-height: 36px;
    font-size: 20px;
    color: #666;
}

.section-four img {
    display: block;
    margin: auto;
}

.section-four ul {
    display: block;
    width: 600px;
    margin: auto;
    text-align: center;
}

.section-four li {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 32%;
    font-size: 16px;
    color: #666;
}

.same {
    font-size: 14px;
    padding-bottom: 30px;
    text-align: center;
    color: #464646;
}

.same a {
    color: #3BAAF0;
    text-decoration: none;
}

.section-five {
    width: 100%;
    height: 1001px;
    text-align: center;
}

.section-five h1 {
    padding-top: 100px;
    min-width: 384px;
    font-size: 48px;
    color: #464646;
}

.section-five img {
    padding-top: 60px;
}

.section-five h6 {
    line-height: 36px;
    font-size: 20px;
    padding-top: 30px;
    color: #666;
}

.last-download {
    margin: 40px auto auto;
    width: 110px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #3BAAF0;
    border-radius: 3px;
    font-size: 14px;
}

.section-six {
    width: 100%;
    height: 277px;;
    background-color: #F8F8F8;
}

.section-six ul {
    display: inline-block;
}

.six-div {
    margin: auto;
    padding-top: 50px;
    width: 1000px;
}

.six-div div {
    display: inline-block;
    padding-left: 50px;
    text-align: center;
}

.six-div h3 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #464646;
}

.six-message a {
    text-decoration: none;
}

.six-message >li {
    display: inline-block;
    width: 220px;
    height: 170px;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #E4E4E4;
}

.six-message >li img {
    display: block;
    margin: auto;
}

.six-message >li span {
    display: block;
    margin: auto;
    padding-top: 22px;
    height: 23px;
}

#footer {
    width: 100%;
    font-size: 14px;
    background: #F4F4F4;
    border-top: 1px solid #e0e5e7;
}

#footer >div {
    position: relative;
    margin: auto;
    width: 1000px;
    height: 60px;
}

.footer-left,
.footer-right {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    vertical-align: middle;
}

.footer-left a {
    padding-right: 30px;
    color: #555;
    text-decoration: none;
}

.footer-right {
    right: 0;
    font-size: 11px;
    color: #AAA;
}

#nav-tips {
    position: relative;
    height: 100px;
    background: #AAA;
    display: none;
}